body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* background-color: #010B13; */
}

.watermark {
  position: fixed;
  color: black;
  background-color: white;
  right: 10px;
  bottom: 10px;
  padding: 2px 7px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 500;
}
